<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHS</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Open Home Server</h1>
    <a href="/videoManager">
    <div class="card">
        <h1>Videos</h1>
        <p>Your shows, movies, and whatever else you can think of.</p>
        {% if latestVideo %}
            <h2>You can see:</h2>
            {{ latestVideo }}
        {% endif %}
    </div>
    </a>
</body>
</html>