<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OHS | Video Player</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <video src="/{{video}}" id="vid" controls></video>
    <div class="controls">
        <a href="/{{video}}"><i class="fa fa-download"></i></a> <a href="/videoManager"><i class="fa fa-arrow-left"></i></a>
    </div>
</body>
</html>